language: python
python:
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install codecov pytest-cov
# command to run tests
script:
  - pytest --cov=./

after_success:
  - codecov
