language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - pip install -r requirements.txt
  - pip install codecov flake8 sphinx sphinx_rtd_theme matplotlib

script:
  - bash run_tests.sh

after_success:
  - codecov
